<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stel/Downloads/videodemoUpdated.gif</key>
	<data>
	Ym9va8ACAAAAAAQQMAAAAP7j2Bsjw6o4oby50FQ5CD2WCVF9y1J0MIxc4PyfOSBcvAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAHN0ZWwJAAAAAQEAAERv
	d25sb2FkcwAAABQAAAABAQAAdmlkZW9kZW1vVXBkYXRlZC5naWYQAAAAAQYAABAAAAAg
	AAAALAAAAEAAAAAIAAAABAMAAG9YAAAAAAAACAAAAAQDAACplwMAAAAAAAgAAAAEAwAA
	3JcDAAAAAAAIAAAABAMAACvX0AIAAAAAEAAAAAEGAAB0AAAAhAAAAJQAAACkAAAACAAA
	AAAEAABBxKKqaHrFkRgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQD
	AAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
	dG9zaCBIRAgAAAAEAwAAAACHETkAAAAIAAAAAAQAAEHEWw/9gAAAJAAAAAEBAAA3NUVC
	MTlDMy1CMTU1LTQwMkEtOEQxNS1GOEEzRTU4QTkxQTQYAAAAAQIAAIEAAAABAAAA7xMA
	AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAA
	AAAEEAAAXAAAAAAAAAAFEAAAtAAAAAAAAAAQEAAA3AAAAAAAAABAEAAAzAAAAAAAAAAC
	IAAAqAEAAAAAAAAFIAAAGAEAAAAAAAAQIAAAKAEAAAAAAAARIAAAXAEAAAAAAAASIAAA
	PAEAAAAAAAATIAAATAEAAAAAAAAgIAAAiAEAAAAAAAAwIAAAtAEAAAAAAAABwAAA/AAA
	AAAAAAARwAAAIAAAAAAAAAASwAAADAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
